* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background: linear-gradient(180deg, #7ac9e9 10%, #d0e9ee 100%);
}

/* CABEÇALHO */

.header {
    background-color: #0a4d99;
    margin: 0;
    height: 200px;
    width: auto;
    position: relative;
}

.logo_cabeçalho {
    height: 160px;
    width: auto;
    margin: 20px 20px;
    float: left;
}

.titulo {
    position: relative;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    float: left;
    font-size: 400%;
    margin: 60px 20px;
}   

/* DIVS CENTRAIS*/

h1 {
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
}
p {
    text-align: justify;
    color: #070799;
}
.menu {
    background-color: #5e02a8;
}

.container {
    width: 1224px;
    margin: 0 auto;
}

.corpo {
    min-height: 500px;
}

.menu ul {
    margin: 5px auto;
    text-align: right;
}

li.menu-item {
    font-size: medium;
    display: inline;
    text-decoration: none;
}

li.menu-item:hover {
    background-color: #070799;
    padding: 10px 0px;
}

li.menu-item:active {
    background-color: #050550;
    padding: 10px 0px;
}

.menu-item a {
    color: #fff;
    padding: 10px 10px;
    display: inline-block;
    cursor:pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.menu-item a:active {
    color: #5e02a8;
}

/* RODAPÉ */

footer {
    width: auto;
    height: 40px;
    background-color: #000;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-texto {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    font-variant:small-caps;
}

